<p id="notice"><%= notice %></p>
<div class="barra">
  <h3 style="color:white" align="right">
  <%aux = " "%>
  <% current_user.profile.each do |item|%>
    <% aux = "/profiles/"+ item.id.to_s %>
      <% break %>
  <%end%>
  <%if user_signed_in? %>
    <%= current_user.email %> <%=link_to "Meu perfil", aux %> <%=link_to "Sair", destroy_user_session_path, method: :delete%>
  <%else%>
      <%=link_to "Entrar", new_user_session_path%>
      <%=link_to "Inscrever-se", new_user_registration_path%>

  <%end%>
  <%=link_to "Posts", posts_path%>
  </h3>
</div>
</br>
<h1>Editing Profile</h1>

<%= render 'form', profile: @profile %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
