<p id="notice"><%= notice %></p>
<div class="barra">
  <%aux = " "%>
  <h3 style="color:white" align="right">
  <%if user_signed_in? %>
    <% current_user.profile.each do |item|%>
      <% aux = "/profiles/"+ item.id.to_s %>
        <% break %>
    <%end%>
    <%= current_user.email %> <%= link_to "Meu perfil", aux %> <%=link_to "Sair", destroy_user_session_path, method: :delete%>
  <%else%>
      <%=link_to "Entrar", new_user_session_path%>
      <%=link_to "Inscrever-se", new_user_registration_path%>

  <%end%>
  <%=link_to "Posts", posts_path%>
  </h3>
</div>
</br>
<center>
<table >
  <tbody>
    <tr>
      <td width=50 rowspan="4"><%= image_tag(@profile.avatar.url(:medium))%> </td>
      <td colspan="2" height=10 style="vertical-align:bottom"><h1 style="color:black "> <%= @profile.name%> </h1></td>
    </tr>
    <tr><td colspan="2" style="vertical-align:top">
        <%=@profile.user.email%>
    </td></tr>
    <tr><td colspan="2" style="vertical-align:top">
        <%=@profile.description%>
    </td></tr>
    <tr><td colspan="2" style="vertical-align:top">
        <h2><%=link_to "Editar Perfil", edit_profile_path%><h2>
    </td></tr>
    <tr ><td colspan="2" align="center"><h1><%= link_to 'Postar', new_post_path %></h1></td></tr>
    <% @profile.post.reverse.each do |post| %>
      <tr><td colspan="3"><h2><%= post.title %></h2></td></tr>
      <tr><td colspan="3"><%= post.description %></td></tr>
      <tr><td colspan="3"><%=image_tag(post.image.url(:normal)) %></td></tr>
      <%if user_signed_in?%>
        <% current_user.profile.each do |item|%>
          <%if item.id == post.profile.id or current_user.admin?%>
            <td colspan="3">
              <%= link_to 'Mostrar', post %>
              <%= link_to 'Editar', edit_post_path(post) %>
              <%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Você tem certeza?' } %>
            </td>
            <%break%>
          <%end%>
        <%end%>
      <%end%>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
