 <%# image_tag 'logo/favicon.ico' %>
 <p id="notice"><%= notice %></p>
<center>
<h1>Bem vindo ao</h1>
 <%= image_tag 'Pandwitter.png' %>
</br>
<%if user_signed_in? %>
  <h2>
    <%= current_user.email %>
    <%=link_to "Sair", destroy_user_session_path, method: :delete%>
  </br>
</br>
<%else%>
  <h2>
    <%=link_to "Entrar", new_user_session_path%>
    </br>
    </br>
    <%=link_to "Inscrever-se", new_user_registration_path%>
    </br>
    </br>
<%end%>
 <%=link_to 'Ver posts', posts_path%>
