<p id="notice"><%= notice %></p>
<div class="barra">
  <%aux = " "%>
  <h3 style="color:white" align="right">
  <%if user_signed_in? %>
    <% current_user.profile.each do |item|%>
      <% aux = "/profiles/"+ item.id.to_s %>
        <% break %>
    <%end%>
    <%= current_user.email %> <%= link_to "Meu perfil", aux %> <%=link_to "Sair", destroy_user_session_path, method: :delete%>
  <%else%>
      <%=link_to "Entrar", new_user_session_path%>
      <%=link_to "Inscrever-se", new_user_registration_path%>

  <%end%>
  <%=link_to "Posts", posts_path%>
  </h3>
</div>
</br>
<center>
<table>
  <tbody>
      <tr>
        <td width=50 rowspan="2"><%= image_tag(@post.profile.avatar.url(:thumb))%> </td>
        <td colspan="2" height=10 style="vertical-align:bottom"><h3 style="color:blue ">
          <%aux ="/profiles/"+@post.profile.id.to_s%>
          <%=link_to @post.profile.name, aux %>
        </h3></td>
      </tr>
      <tr>
        <td colspan="2" style="vertical-align:top"> <%=@post.profile.user.email%></td>
      </tr>
      <tr><td colspan="3"><h2><%= @post.title %></h2></td></tr>
      <tr><td colspan="3"><%= @post.description %></td></tr>
      <tr><td colspan="3"><%=image_tag(@post.image.url(:normal)) %></td></tr>
      </td>
  </tbody>
</table>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Posts', posts_path %>
