// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th, td {
    border-bottom: 1px solid #ddd;
}
.barra {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
}
a {
  /*definimos a largura do box*/
  width:300px;
  /* definimos a altura do box */
  height:1000px;
  /* definimos a cor de fundo do box */
  background-color:white;
  /* definimos o quão arredondado irá ficar nosso box */
  border-radius: 2px;
  /* Declaração para aparecer no Firefox */
  -moz-border-radius: 2px;
  /* Para exibir nos outros navegadores como Chrome, safari, opera*/
  -webkit-border-radius: 2px;
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}
